<h2>My Heroes</h2>

<!--  list with onSelect
<ul class="heroes">  
  The *ngFor is Angular's repeater directive. It repeats the host element for each element in a list.
  <li *ngFor="let ahero of heroes">
    <button
      [class.selected]="ahero === selectedHero"
      type="button"
      (click)="onSelect(ahero)"
    >
      <span class="badge">{{ ahero.id }}</span>
      <span class="name">{{ ahero.name }}</span>
      <span class="dob">{{ ahero.dob | date }}</span>
    </button>
  </li> 
</ul> -->
<div>
  <label for="new-hero">Hero name: </label>
  <input id="new-hero" #heroName />

  <!-- (click) passes input value to add() and then clears the input -->
  <button
    type="button"
    class="add-button"
    (click)="add(heroName.value); heroName.value = ''"
  >
    Add hero
  </button>
</div>
<!-- list with links -->
<ul class="heroes">
  <li *ngFor="let hero of heroes">
    <a routerLink="/detail/{{ hero.id }}">
      <span class="badge">{{ hero.id }}</span>
      <span class="name">{{ hero.name }}</span>
      <span class="dob">{{ hero.dob | date }}</span>
    </a>
    <button
      type="button"
      class="delete"
      title="delete hero"
      (click)="delete(hero)"
    >
      x
    </button>
  </li>
</ul>
